.header{
    width: 50px;
    height: 500px;
    background: #929f36;
    margin-bottom: 100px;

    ul{
        width: 100px;
        color: #fff;
        font-size: 3rem;
    }

    li{
        margin-bottom: 50px;
    }
}
