// bg-color
$primary-bg-color: #efe9e7;
$nav-bg-color: rgba(
    $color: #000000,
    $alpha: 0.75,
);
$footer-bg-color: #efe9e7;

// text
$text-5xl: 3rem; // 48px
$text-4xl: 2.25rem; // 36px
$text-3xl: 2rem; // 32px
$text-2xl: 1.75rem; // 28px
$text-xl: 1.5rem; // 24px
$text-l: 1.25rem; // 20px
$text-m: 1rem; // 16px
$text-s: 0.75rem; // 12px
$text-xs: 0.5rem; // 8px

// text-color
$primary-text-color: #3d1101;
$text-white-color: #fff;
$add-to-cart-color: #ff5e45;

// text details
$primary-line-height: 150%;
$primary-letter-space: 0.125rem; // 2px
