/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 整體框架 */
.wrap{
	width: 1145px;
	margin: 0 auto;
	border: 1px solid #000;
}


/* 共同屬性 */
.header,
.footer{
	display: flex;
}


/* 表頭 */
.header{
	flex-direction: column;
	align-items: center;

	padding: 296px 392px;

	background: #e7eeea;
}

	/* 表頭標題 */
	.header h1{
		margin-top: 28px;
		color: #37523d;

		font-size: 30px;
		font-weight: bold;
	}


/* 表尾 */
.footer{
	justify-content: space-between;
	align-items: center;
}

	/* 表尾 LOGO */
	.footer img{
		margin: 22px 0px 22px 50px;
	}

	/* 功能列 */
	.menu{
		display: flex;

		margin-right: 30px;
	}

		/* 功能列連結 */
		.menu li a{
			display: block;
			text-align: center;

			width: 78px;
			padding: 5px;
			border-radius: 5px;

			color: #000;
		
			font-size: 16px;
			font-weight: bold;
			text-decoration: none;
		}

		/* 功能列連結 hover 效果 */
		.menu li a:hover{
			color: #fff;
			background: #000;
		}